@{

    ViewData["Title"] = "PairwiseComparisonError";
    Layout = "~/Views/Shared/_OnePageLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Consistency Ratio Error </title>

</head>


<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">Consistency Ratio is not sufficient.</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Your choices are not consistent enough for us to calculate your AHP scores. </p>
            <p class="lead">
               Please Go Back and change your preferences.
            </p>
            <a href="/CriteriaComparison/PairwiseComparison" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</body>


</html>