@{
    Layout = "~/Views/Shared/_OnePageLayout.cshtml";
}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<link rel="stylesheet" href="~/css/StyleSheetPair.css">


<!doctype html>
<html lang="en" dir="ltr">
<head>
    <!-- ERROR VİEW -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">


    <!-- Checkbox dropdown-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <style>
        body {
            background: #F8FBFE;
        }
    </style>

</head>
<body>


    <!--Range -->
    <div class="border" id="wrapperr">
        <header>


            <h2 style="color:#124265; font-weight:bold; "> Please Compare Your Own Preferences</h2>
            <h2 style="color:#124265; font-weight:bold; "> ERROR</h2>
            <br>
            <h4>Please drag the cursor towards the criterion which is more important for you.</h4>
            <h4>The closer to the item, the more important it is!</h4>

            <br>

        </header>
        <div class="container w-300" align="center">
            <div class="ticks">
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>

            </div>
            <label for="customRange1" id="11" class="form-label" style="position: absolute; left: 200px; color: black; font-size: 12px; font-weight:bold;"></label>
            <input type="range" style="width: 710px; color: rgb(255, 255, 255);" class="form-range"
                   min="-8" max="8" step="1" value="0"
                   data-toggle="true"
                   id="customRange1" list="my-datalist"
                   oninput="showValue(this.value)">
            <label for="customRange1" id="12" class="form-label" style="position: absolute; right: 200px ; color: black; font-size: 12px; font-weight:bold;"></label>
            <datalist id="my-datalist">


                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>


            </datalist>
            <br>

        </div>

        <div class="container w-150" align="center">
            <div class="ticks">
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>


            </div>
            <label for="customRange2" id="21" class="form-label" style="position: absolute; left: 200px; color: black; font-size: 12px; font-weight:bold;"></label>
            <input type="range" style="width: 710px;" class="form-range"
                   min="-8" max="8" step="1" value="0"
                   data-toggle="true"
                   id="customRange2" list="my-datalist"
                   oninput="showValue(this.value)">
            <label for="customRange2" id="22" class="form-label" style="position: absolute; right: 200px; color: black; font-size: 12px; font-weight:bold;"></label>
            <datalist id="my-datalist">

                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>

            </datalist>
            <br>

        </div>

        <div class="container w-150" align="center">
            <div class="ticks">
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>


            </div>
            <label for="customRange3" id="31" class="form-label" style="position: absolute; left: 200px;color: black; font-size: 12px; font-weight:bold;"></label>
            <input type="range" style="width: 710px;" class="form-range"
                   min="-8" max="8" step="1" value="0"
                   data-toggle="true"
                   id="customRange3" list="my-datalist"
                   oninput="showValue(this.value)">
            <label for="customRange3" id="32" class="form-label" style="position: absolute; right: 200px; color: black; font-size: 12px; font-weight:bold;"></label>
            <datalist id="my-datalist">

                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>

            </datalist>
            <br>

        </div>
        <div class="container w-150" align="center">
            <div class="ticks">
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>


            </div>
            <label for="customRange4" id="41" class="form-label" style="position: absolute; left: 200px;color: black; font-size: 12px; font-weight:bold;"></label>
            <input type="range" style="width: 710px;" class="form-range"
                   min="-8" max="8" step="1" value="0"
                   data-toggle="true"
                   id="customRange4" list="my-datalist"
                   oninput="showValue(this.value)">
            <label for="customRange4" id="42" class="form-label" style="position: absolute; right: 200px; color: black; font-size:12px; font-weight:bold;"></label>
            <datalist id="my-datalist">

                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>

            </datalist>
            <br>

        </div>
        <div class="container w-150" align="center">
            <div class="ticks">
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>


            </div>
            <label for="customRange5" id="51" class="form-label" style="position: absolute; left: 200px;color: black; font-size: 12px; font-weight:bold;"></label>
            <input type="range" style="width: 710px;" class="form-range"
                   min="-8" max="8" step="1" value="0"
                   data-toggle="true"
                   id="customRange5" list="my-datalist"
                   oninput="showValue(this.value)">
            <label for="customRange5" id="52" class="form-label" style="position: absolute; right: 200px; color: black; font-size:12px; font-weight:bold;"></label>
            <datalist id="my-datalist">

                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>

            </datalist>
            <br>

        </div>
        <div class="container w-150" align="center">
            <div class="ticks">
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>


            </div>
            <label for="customRange6" id="61" class="form-label" style="position: absolute; left: 200px;color: black; font-size:12px; font-weight:bold;"></label>
            <input type="range" style="width: 710px;" class="form-range"
                   min="-8" max="8" step="1" value="0"
                   data-toggle="true"
                   id="customRange6" list="my-datalist"
                   oninput="showValue(this.value)">
            <label for="customRange6" id="62" class="form-label" style="position: absolute; right: 200px; color: black; font-size:12px; font-weight:bold;"></label>
            <datalist id="my-datalist">

                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>

            </datalist>
            <br>

        </div>
    </div>

    <div>
        <button class="btn btn-info" onclick="getValue()" id="rslt">Get Your Results!</button>
    </div>






    <script>

        const rangeInput = document.querySelectorAll(".range-input input"),
            priceInput = document.querySelectorAll(".price-input input"),
            range = document.querySelector(".slider .progress");
        let priceGap = 1000;

        priceInput.forEach(input => {
            input.addEventListener("input", e => {
                let minPrice = parseInt(priceInput[0].value),
                    maxPrice = parseInt(priceInput[1].value);

                if ((maxPrice - minPrice >= priceGap) && maxPrice <= rangeInput[1].max) {
                    if (e.target.className === "input-min") {
                        rangeInput[0].value = minPrice;
                        range.style.left = ((minPrice / rangeInput[0].max) * 100) + "%";
                    } else {
                        rangeInput[1].value = maxPrice;
                        range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
                    }
                }
            });
        });

        rangeInput.forEach(input => {
            input.addEventListener("input", e => {
                let minVal = parseInt(rangeInput[0].value),
                    maxVal = parseInt(rangeInput[1].value);

                if ((maxVal - minVal) < priceGap) {
                    if (e.target.className === "range-min") {
                        rangeInput[0].value = maxVal - priceGap
                    } else {
                        rangeInput[1].value = minVal + priceGap;
                    }
                } else {
                    priceInput[0].value = minVal;
                    priceInput[1].value = maxVal;
                    range.style.left = ((minVal / rangeInput[0].max) * 100) + "%";
                    range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
                }
            });
        });
    </script>
    <!--Script dropdown2-->



    <script>

        function showValue(value) {
            // Display the value of the range slider in the page
            console.log(value);
        }
        var SelectedCriteria = JSON.parse(sessionStorage.getItem('SelectedCriteria'));
        var filterContinents = JSON.parse(sessionStorage.getItem('filterContinents'));

        function getValue() {
            // Create an empty array to store the values
            var ratings = [];

            // Get the values of all four range sliders
            var value1 = document.getElementById('customRange1').value;
            var value2 = document.getElementById('customRange2').value;
            var value3 = document.getElementById('customRange3').value;
            var value4 = document.getElementById('customRange4').value;
            var value5 = document.getElementById('customRange5').value;
            var value6 = document.getElementById('customRange6').value;

            // Add the values to the array
            ratings.push(value1, value2, value3, value4, value5, value6);
            console.log(ratings);
            sessionStorage.setItem('ratings', JSON.stringify(ratings));

            // Use the $.ajax method to send the arrays to the controller
            $.ajax({
                type: "POST",
                url: "/CriteriaComparison/CalculateAhp",
                data: {
                    SelectedCriteria: SelectedCriteria,
                    filterContinents: filterContinents,
                    ratings: ratings
                },
                success: function (response) {
                    alert("success");
                }
            });
        }

        var x = JSON.parse(sessionStorage.getItem('SelectedCriteria'));

        let s11 = document.getElementById("11");
        s11.innerText = x[0];
        let s12 = document.getElementById("12");
        s12.innerText = x[1]

        let s21 = document.getElementById("21");
        s21.innerHTML = x[0];
        let s22 = document.getElementById("22");
        s22.innerHTML = x[2];

        let s31 = document.getElementById("31");
        s31.innerHTML = x[0];
        let s32 = document.getElementById("32");
        s32.innerHTML = x[3];

        let s41 = document.getElementById("41");
        s41.innerHTML = x[1];
        let s42 = document.getElementById("42");
        s42.innerHTML = x[2];

        let s51 = document.getElementById("51");
        s51.innerHTML = x[1];
        let s52 = document.getElementById("52");
        s52.innerHTML = x[3];

        let s61 = document.getElementById("61");
        s61.innerHTML = x[2];
        let s62 = document.getElementById("62");
        s62.innerHTML = x[3];

    </script>

</body>
</html>