@{
    ViewData["Title"] = "PairwiseComparison";
    Layout = null;
}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="///ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></script>
<link rel="stylesheet" href="~/SliderStyleSheet.css">


<!doctype html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="tick.css">
    <link rel="stylesheet" href="style.css">


    <!-- Double slider-->
    <link rel="stylesheet" href="doubleslider.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Checkbox dropdown-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="style_dropdown2.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>
<body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <p id="display"></p>


    <script>
        function updateTextInput(val) {
            document.getElementById('textInput').value = Math.abs(val);
        }

        let x = sessionStorage.getItem('myArray');
        console.log(x);

        let textArea = document.getElementById("display");

        for (let i = 0; i < x.length; i++) {
            textArea.innerHTML += x[i] + "\n";
        }

    </script>


    <!--Range -->
    <div class="border" id="wrapperr">
        <header>
            <h2 style="text-align: center">COMPARISON OF CRITERIA</h2>
            <br>
            <h3 style="color:#ed0303;"> Please compare your own preferences</h3>
            <h4>Please drag the cursor towards the criterion which is more important for you.</h4>
            <h4>The closer to the item, the more important it is!</h4>

            <br>

        </header>
        <div class="container w-75" align="center">
            <div class="ticks">
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
            </div>
            <label for="customRange1" class="form-label" style="position: absolute; left: 440px; color: black; font-size: 12px;">Price</label>
            <input type="range" style="width: 735px; color: rgb(255, 255, 255);" class="form-range"
                   min="-9" max="9" step="1" value="0"
                   data-toggle="true"
                   id="customRange1" list="my-datalist"
                   onchange="updateTextInput(this.value);">
            <label for="customRange1" class="form-label" style="position: absolute; right: 360px ; color: black; font-size: 12px;">Number of Reviews</label>
            <datalist id="my-datalist">

                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>

            </datalist>
            <br>

        </div>

        <div class="container w-75" align="center">
            <div class="ticks">
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
            </div>
            <label for="customRange2" class="form-label" style="position: absolute; left: 440px; color: black; font-size: 12px;">Price</label>
            <input type="range" style="width: 730px;" class="form-range"
                   min="-9" max="9" step="1" value="0"
                   data-toggle="true"
                   id="customRange2" list="my-datalist"
                   onchange="updateTextInput(this.value);">
            <label for="customRange2" class="form-label" style="position: absolute; right: 370px; color: black; font-size: 12px;">Positive Rating %</label>
            <datalist id="my-datalist">
                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </datalist>
            <br>

        </div>

        <div class="container w-75" align="center">
            <div class="ticks">
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
            </div>
            <label for="customRange3" class="form-label" style="position: absolute; left: 440px;color: black; font-size: 12px;">Price</label>
            <input type="range" style="width: 735px;" class="form-range"
                   min="-9" max="9" step="1" value="0"
                   data-toggle="true"
                   id="customRange3" list="my-datalist"
                   onchange="updateTextInput(this.value);">
            <label for="customRange3" class="form-label" style="position: absolute; right: 370px; color: black; font-size: 12px;">Average Playtime</label>
            <datalist id="my-datalist">
                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </datalist>
            <br>

        </div>
        <div class="container w-75" align="center">
            <div class="ticks">
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
            </div>
            <label for="customRange4" class="form-label" style="position: absolute; left: 370px;color: black; font-size: 12px;">Number of Ratings</label>
            <input type="range" style="width: 735px;" class="form-range"
                   min="-9" max="9" step="1" value="0"
                   data-toggle="true"
                   id="customRange4" list="my-datalist"
                   onchange="updateTextInput(this.value);">
            <label for="customRange4" class="form-label" style="position: absolute; right: 370px; color: black; font-size:12px;">Positive Rating %</label>
            <datalist id="my-datalist">
                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </datalist>
            <br>

        </div>
        <div class="container w-75" align="center">
            <div class="ticks">
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
            </div>
            <label for="customRange5" class="form-label" style="position: absolute; left: 375px;color: black; font-size: 12px;">Average Playtime</label>
            <input type="range" style="width: 735px;" class="form-range"
                   min="-9" max="9" step="1" value="0"
                   data-toggle="true"
                   id="customRange5" list="my-datalist"
                   onchange="updateTextInput(this.value);">
            <label for="customRange5" class="form-label" style="position: absolute; right: 360px; color: black; font-size:12px;">Number of Reviews</label>
            <datalist id="my-datalist">
                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </datalist>
            <br>

        </div>
        <div class="container w-75" align="center">
            <div class="ticks">
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
                <span class="tick"></span>
            </div>
            <label for="customRange6" class="form-label" style="position: absolute; left: 375px;color: black; font-size:12px;">Average Playtime</label>
            <input type="range" style="width: 735px;" class="form-range"
                   min="-9" max="9" step="1" value="0"
                   data-toggle="true"
                   id="customRange6" list="my-datalist"
                   onchange="updateTextInput(this.value);">
            <label for="customRange6" class="form-label" style="position: absolute; right:370px; color: black; font-size:12px;">Positive Rating %</label>
            <datalist id="my-datalist">
                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </datalist>
            <br>

        </div>
    </div>



    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--Script double slider-->
    <script src="script.js"></script>
    <!--Script dropdown2-->
    <script src="script_dropdown.js"></script>
</body>
</html>