@*@model List<string>
*@

@{
   
    Layout = "~/Views/Shared/_OnePageLayout.cshtml";
}

<h1>Result</h1>

@*<ul>
    @foreach (var str in Model)
    {
        <li>@str</li>
    }
</ul>*@

<h1>CRRRR</h1>
