@model Dictionary<string, double>

@{
    Layout = "~/Views/Shared/_OnePageLayout.cshtml";
}

<h1>Result</h1>

<ul>@*
    @foreach (var item in Model)
    {
        <li>@item.Key</li>
        <li>@item.Value</li>
    }*@

    <li>@Model.Keys.First()</li>
    <li>@Model.Values.First()</li>
</ul>

<h1>CRRRR</h1>
