@{
    Layout = null;
}

<html>
<head>
</head>
<link rel="stylesheet" href="beyza.css">
<body>
    <div id="checkbox-group-1">
        <br>
        <br>
        <br>
        <h2 style="text-align: center">Please select the 4 criteria that you pay most attention to when moving from the criteria in the list below. </h2>
        <h3 style="text-align: center">Drag and drop the criteria you selected to the right and click "save". </h3>
        <br>
        <input type="checkbox" id="checkbox-group-1-A" style="position: absolute; left: 790px;" value="Tolerance">
        <label for="checkbox-group-1-A" style="position: absolute; left: 810px;">Tolerance</label>

        <br>
        <input type="checkbox" id="checkbox-group-1-B" style="position: absolute; left: 790px;" value="Outdoors">
        <label for="checkbox-group-1-B" style="position: absolute; left: 810px;">Outdoors</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-C" style="position: absolute; left: 790px;" value="Internet Access">
        <label for="checkbox-group-1-C" style="position: absolute; left: 810px;">Internet Access</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-D" style="position: absolute; left: 790px;" value="Healthcare">
        <label for="checkbox-group-1-D" style="position: absolute; left: 810px;">Healthcare</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-E" style="position: absolute; left: 790px;" value="TravelConnectivity">
        <label for="checkbox-group-1-E" style="position: absolute; left: 810px;">Travel Connectivity</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-F" style="position: absolute; left: 790px;" value="Economy">
        <label for="checkbox-group-1-F" style="position: absolute; left: 810px;">Economy</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-G" style="position: absolute; left: 790px;" value="Taxation">
        <label for="checkbox-group-1-G" style="position: absolute; left: 810px;">Taxation</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-H" style="position: absolute; left: 790px;" value="Leisure&Culture">
        <label for="checkbox-group-1-H" style="position: absolute; left: 810px;"> Leisure&Culture</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-I" style="position: absolute; left: 790px;" value="Housing">
        <label for="checkbox-group-1-I" style="position: absolute; left: 810px;">Housing</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-J" style="position: absolute; left: 790px;" value="EnvironmentalQuality">
        <label for="checkbox-group-1-J" style="position: absolute; left: 810px;">Environmental Quality</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-K" style="position: absolute; left: 790px;" value="Education">
        <label for="checkbox-group-1-K" style="position: absolute; left: 810px;">Education</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-L" style="position: absolute; left: 790px;" value="CostOfliving">
        <label for="checkbox-group-1-L" style="position: absolute; left: 810px;">Cost of living</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-M" style="position: absolute; left: 790px;" value="Startups">
        <label for="checkbox-group-1-M" style="position: absolute; left: 810px;">Startups</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-N" style="position: absolute; left: 790px;" value="Commute">
        <label for="checkbox-group-1-N" style="position: absolute; left: 810px;">Commute</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-O" style="position: absolute; left: 790px;" value="Safety">
        <label for="checkbox-group-1-O" style="position: absolute; left: 810px;">Safety</label>
        <br>
        <input type="checkbox" id="checkbox-group-1-P" style="position: absolute; left: 790px;" value="BusinessFreedom">
        <label for="checkbox-group-1-P" style="position: absolute; left: 810px;">Business Freedom </label>

    </div>

    <a href="/CriteriaComparison/PairwiseComparison">Continue</a>
    <script>
        // The function
        function limitCheckboxes(settings) {
            if (settings.elements === undefined) { return; }
            if (settings.maxCount === undefined) { settings.maxCount = false; return; }

            // Configure list of initial checkboxes that are checked from load
            var checkboxes = Array.from(settings.elements),
                checkboxesChecked = [],
                checkboxesUnchecked = [];

            for (var i = 0; checkboxesChecked < 2 && i < checkboxes.length; i++) {
                if (checkboxes[i].checked == true) {
                    checkboxesChecked.push(checkboxes[i]);
                }
            }

            for (var i = 0; i < settings.elements.length; i++) {
                settings.elements[i].addEventListener('change', function () {
                    if (this.checked == true) {
                        // Add this new checked checkbox to the array
                        checkboxesChecked.push(this);

                        // if the checkboxesChecked reaches maxCount (or if for some reason it's above it)...
                        if (checkboxesChecked.length >= settings.maxCount) {
                            // Define unchecked checkboxes for comparisons
                            checkboxesUnchecked = checkboxes.filter(function (val) {
                                return checkboxesChecked.indexOf(val) == -1;
                            });

                            // Disable all unchecked checkboxes
                            for (var i = 0; i < checkboxesUnchecked.length; i++) {
                                checkboxesUnchecked[i].disabled = true;
                            }
                        }
                    } else {
                        // loop through checkboxesChecked list
                        for (var i = 0; i < checkboxesChecked.length; i++) {
                            // if THIS element id matches LOOP element id, remove it from the array
                            if (this.id === checkboxesChecked[i].id) {
                                checkboxesChecked.splice(i, 1);
                                break;
                            }
                        }

                        // Disable all unchecked checkboxes
                        for (var i = 0; i < checkboxesUnchecked.length; i++) {
                            checkboxesUnchecked[i].disabled = false;
                        }
                    }

                    // Define unchecked checkboxes for comparisons
                    checkboxesUnchecked = checkboxes.filter(function (val) {
                        return checkboxesChecked.indexOf(val) == -1;
                    });
                });
            }
        }

        // The demo
        var checkboxGroup1 = document.getElementById('checkbox-group-1'),
            checkboxesGroup1 = checkboxGroup1.querySelectorAll('input[type="checkbox"]')


        limitCheckboxes({
            elements: checkboxesGroup1,
            maxCount: "4"
        });




        let values = []; // array to store the selected checkbox values

        for (let checkbox of checkboxesGroup1) {
            checkbox.addEventListener('change', function () {
                let value = this.value;
                if (this.checked) {
                    // add value to array if checkbox is checked
                    values.push(value);
                    console.log(values);
                } else {
                    // remove value from array if checkbox is unchecked
                    let index = values.indexOf(value);
                    if (index > -1) {
                        values.splice(index, 1);
                        console.log(values);
                    }
                  }
                sessionStorage.setItem('myArray',values);
            });
        }

        
    </script>
</body>


</html>
