@{
    ViewData["Title"] = "Dashboards";
    Layout = "~/Views/Shared/_OnePageLayout.cshtml";
}

<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <iframe title="WannaMove1 - Kopya" width="1400" height="800" src="https://app.powerbi.com/reportEmbed?reportId=2362a7fd-c063-4835-ab60-96418a74a8d1&autoAuth=true&ctid=7d6722ae-0c2d-4abf-8151-90e590a56e3b" frameborder="0" allowFullScreen="true"></iframe>

    </div>
</section>