@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_OnePageLayout.cshtml";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>WannaMove</h1>
                <h2 class="" justify-content-center""> WannaMove aims to find the best city to relocate for you.  An AHP-based DSS, WannaMove is the best solution for the relocation decision.</h2>
            </div>
        </div>
        <div class="text-center">
            <a href="/Filtering/Filter" class="btn-get-started scrollto">Get Started</a>
        </div>
        <div class="row icon-boxes">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="ri-stack-line"></i></div>
                    <h4 class="title"> Click the "Get Started" button!</h4>
                    <p class="description">
                        The continent filtering page will be showed to you. What you have to do here is if you have a continent selection, just tick it and click the "Continue" button.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="ri-stack-line"></i></div>
                    <h4 class="title"> Choose the criteria!</h4>
                    <br />
                    <p class="description">
                        We have 16 criteria in total. We expect you to choose 4 of them that are indispensable for you.". Pelase click the "Continue" button.

                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="ri-stack-line"></i></div>
                    <h4 class="title"> Compare the criteria you have chosen!</h4>
                    <p class="description"> Drag the slider towards criterion which is more important for you. Don't forget, the closer to the item, the more important it is! Once you have done, click the "Get Your Results!" button.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><i class="ri-stack-line"></i></div>
                    <h4 class="title">See the most suitable cities for you!</h4>
                    <p class="description">You can see the most suitable 10 cities for you in the results page. If you want to discover more about your cities, just click on it and see details.</p>
                </div>
            </div>

        </div>
    </div>
    
</section><!-- End Hero -->
<section id="start" class="about-video">
    <div class="container" style=" text-align: justify;
    text-justify: inter-word;" data-aos="fade-up">
       
        <div class="row">

            <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-right" data-aos-delay="100">
                <h3>What is WannaMove?</h3>
                <p>
                    WannaMove is a Decision Support System, working on the AHP model.
                    WannaMove is a web-based program that helps users to
                    find the best city to relocate to.
                    The main decision support system here is to prioritize the listings shown to our user and make it personal.
                </p>
                

            </div>

            <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-left" data-aos-delay="100">
                <p style=" font-weight: bold; font-size: 15px;">  WannaMove differs from its rivals with;</p>
                <ul>
                    
                    <li><i class="bx bx-check-double"></i> User friendly interface.</li>
                    <li><i class="bx bx-check-double"></i> Easy to use.</li>
                    <li><i class="bx bx-check-double"></i> Consistent with your criteria. </li>
                    <li><i class="bx bx-check-double"></i> Helps you to relocate. </li>
                </ul>
            </div>

        </div>
        <br />
        <div class="row">

            <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                <img src="https://i.hizliresim.com/7nv6a28.jpg" class="img-fluid rounded-circle" alt="">
            </div>

            <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                <br />

                <h3>Relocation</h3>
                <p>
                    Relocation is a subject of almost every person's life. You may relocate because of various reasons, such as; getting hired in a new job abroad, starting a new business abroad, starting in a college, purchasing an estate or making investments and so on. There are many characteristics that may make a city fit or not fit for relocation, and these may change from each person's perspective.
                </p>
                <ul>
                    <li><i class="bx bx-check-double"></i> Moving is the 3rd most stressful event in a person’s life.</li>
                    <li><i class="bx bx-check-double"></i> Renters move more than owners.</li>
                    <li><i class="bx bx-check-double"></i> Every year in the US 1 out of every 3 renters move every year. </li>
                    <li><i class="bx bx-check-double"></i> 40% of all moves in the US are work related.</li>
                </ul>

            </div>

        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="row">

            <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                <img src="https://i.hizliresim.com/i5zoy4u.jpeg" class="img-fluid rounded-circle" alt="">
            </div>

            <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Decision Support System</h3>
                <p>
                    A decision support system (DSS) is an information system that supports business or organizational 
                    decision-making activities. DSSs serve the management, operations and planning levels of an organization 
                    and help people make
                    decisions about problems. Decision support systems can be 
                    either fully computerized or human-powered, or a combination of both.
                </p>
                <ul>
                    <li><i class="bx bx-check-double"></i> DSS tends to be aimed at the less well structured, underspecified problem that upper level managers typically face.</li>
                    <li><i class="bx bx-check-double"></i> DSS attempts to combine the use of models or analytic techniques with traditional data access and retrieval functions.</li>
                    <li><i class="bx bx-check-double"></i> DSS emphasizes flexibility and adaptability to accommodate changes in the environment and the decision making approach of the user.</li>
                </ul>

            </div>

        </div>
        <br />
        <br />
        <br />
        <br />


        <div class="row">

            <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-right" data-aos-delay="100">
                <h3>Analytic Hierarchy Process</h3>
                <p>
                    In the theory of decision making, the analytic hierarchy process (AHP), also analytical hierarchy process,
                    is a structured technique for organizing and analyzing complex decisions, based on mathematics and 
                    psychology. Individual experts’ 
                    experiences are utilized to estimate the relative magnitudes of factors through pair-wise comparisons. 
                    Each of the respondents compares the relative importance each pair of items using a specially designed 
                    questionnaire.
                </p>
                <ul>
                    <li style=" font-weight: bold; font-size: 15px;"> The AHP consists of four steps:</li>
                    <li><i class="bx bx-check-double"></i> Identify the decision, options, and criteria.</li>
                    <li><i class="bx bx-check-double"></i> Conduct pairwise comparisons.</li>
                    <li><i class="bx bx-check-double"></i> Calculate the importance weight of each criterion. </li>
                    <li><i class="bx bx-check-double"></i> Identify the best option by calculating something called utility. </li>
                </ul>
            </div>

            <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-left" data-aos-delay="100">
                <img src="https://i.hizliresim.com/kl69crw.png" class="img-fluid" alt="">
            </div>

        </div>

    </div>
</section>



<!-- Team START -->

<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Our Team</h2>
            <p class="justify-content-center">The team behind the WannaMove Project have met each other at Boğaziçi University MIS 463 Course. Since then, the team is working on this project with high efforts.   </p>
        </div>

        <div class="row justify-content-center">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                        <img src="~/photos/a.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/aycaksoy/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Ayça Aksoy</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/photos/aa.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/atakan-aksu-316459151/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Atakan Aksu</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img src="~/photos/b.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/beyza-ordu1/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Beyza Ordu</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                        <img src="~/photos/i.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/iremdemirkiran/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>İrem Demirkıran</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/photos/u.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/utkuilkbahar/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Utku Cem İlkbahar</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="~/photos/o.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/ozanozel/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Yasin Ozan Özel</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Team END-->
<!-- Vendor JS Files -->