@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_OnePageLayout.cshtml";
}

<!-- About START -->


<!-- About END-->
<br />



<!-- Team START -->

<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Our Team</h2>
            <p class="justify-content-center">The team behind the WannaMove Project have met each other at Boğaziçi University MIS 463 Course. Since then, the team is working on this project with high efforts   </p>
        </div>

        <div class="row justify-content-center">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                        <img src="~/photos/a.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Ayça Aksoy</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/photos/aa.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Atakan Aksu</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>
    
    


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img src="~/photos/b.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Beyza Ordu</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                        <img src="~/photos/i.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>İrem Demirkıran</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/photos/u.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Utku Cem İlkbahar</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="~/photos/o.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Yasin Ozan Özel</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Team END-->
<!-- Vendor JS Files -->
