@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_OnePageLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<br />
<div class="container">
<p>Use this page to detail your site's privacy policy.</p>
</div>